[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
aws-sam-cli = "*"
invoke = "*"

[requires]
python_version = "3.6"

[scripts]
vim = 'vim'
